@import "~bootstrap/scss/bootstrap.scss";
@import "@fontsource/open-sans/300.css";
@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/500.css";
@import "@fontsource/open-sans/600.css";
@import "@fontsource/open-sans/700.css";
@import "@fontsource/open-sans/800.css";

// classes
.sizeHeigth {
	height: 70vh;
}

.img-icon {
	width: 80px;
}

.card-title {
	font-size: 14px;
	font-weight: bold;
}

.media-fs {
	font-size: 12px;
}

.bg-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	font-family: "Open Sans", sans-serif;
}

@media (min-width: 640px) {
	.card-title {
		font-size: 29px;
		font-weight: 500;
	}

	.media-fs {
		font-size: 15px;
	}
}

@media (min-width: 768px) {
	.img-icon {
		width: 90px;
	}

	.card-title {
		font-size: 39px;
		font-weight: 600;
	}
}
